[Desktop Entry]
Name=supermenu
Comment=Acceso directo Supermenu
Exec=ls -s /home/martin/SuperMenu/supermenu.sh /home/$user/SuperMenu/supermenu.sh
Icon=/root/SuperMenu/Icono
Terminal=true
Type=Application
