[Desktop Entry]
Name=supermenu
Comment=Acceso directo Supermenu
Exec=/root/Supermenu/supermenu.sh
Icon=/root/SuperMenu/Icono
Terminal=true
Type=Application
