[Desktop Entry]
Name=supermenu
Comment=Acceso directo Supermenu
Exec=/home/juanchin/SuperMenu/supermenu.sh
Icon=/root/SuperMenu/Icono
Terminal=true
Type=Application
