[Desktop Entry]
Name=supermenu	
Comment=supermenu del tp1 de sor1
Exec=/root/Desktop/supermenu.sh
Icon=/root/Downloads/ASDSADASDASDSA.png
Terminal=true
Type=Application
